body{
    font-family: Roboto;
}

.box{
    height: 200px;
    width: 200px;
    border: 2px #3882F6 solid;
    flex-shrink: 0;
    border-radius: 15%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0px 255px;
    color: white;
    
    
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style-type: none;
    font-weight: 300;
    font-size: 200;
}
a{
  text-decoration: none;
  color: white;
}

img{
    flex-shrink: 0;
}

.awesome {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    justify-content: center;
    
}

.container{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    gap: 200px;
    padding: 60px 0px;
}

.container-three{
    display: flex;
    justify-content: center;
    padding: 20px 0px 60px 0px;
}

.boxes{
    display:flex;
    justify-content: center;
    gap: 64px;
    
}

button{
    width: 100px;
    height: 50px;
    color: white;
    background-color: #3882F6;
}

.random-info{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    padding: 40px;
}

.box-width{
    width: 150px;
    text-align: center;
}  

.container-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: center;
    background-color: #E5E7EB;
    
}

h1{
    width: 950px;
    font-weight: 200;
    font-style: italic;
    
}

#quote{
    align-items: end;
    padding-left: 640px;
    font-weight: 600;
    font-size: large;
}

.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.sign-up{
    display: flex;
    height: 150px;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
}

.left, .right{
    padding: 0px 80px;
}

#bold{
    font-weight: bold;
    color: white;
    font-size: larger;
}

#white{
    color: white;
}

button{
    border-radius: 10%;
    height: 35px;
    width: 120px;
    outline-color: white;
    padding: 0;
}

#button{
    font-size: large;
    font-weight: bold;
    border: none;
}

#button-two{
    font-size: large;
    font-weight: bold;
    border: 2px white solid;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 20px 0px;
}

#white{
    color: white;
}

.font-size{
    font-size: x-large;
    font-weight: bold;
}

.large-font{
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
