body{
    font-family: Roboto;
}

.box{
    height: 200px;
    width: 200px;
    border: 2px blue dotted;
    flex-shrink: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style-type: none;
}
a{
  text-decoration: none;
}

img{
    flex-shrink: 0;
}

.awesome {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
}

.container{
    display: flex;
    justify-content: center;
}

.boxes{
    display:flex;
    justify-content: center;
    gap: 64px;
    
}

button{
    width: 100px;
    height: 50px;
    color: white;
    background-color: #3882F6;
}

.random-info{
    display: flex;
    justify-content: center;
}

.box-width{
    width: 150px;
    text-align: center;
}  

.container-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    
}




